:root {
  /* Fonts */
  --titleOne: 900 5rem/1.5 var(--primary-Font);
  --titleTwo: 900 4rem/1.5 var(--primary-Font);
  --titleThree: 900 3rem/1.5 var(--primary-Font);
}

/* HEADER */
.header {
  min-height: 70rem;
}

.header__wrapper {
  height: calc(70rem - 4rem);
}

.header__nav {
  gap: unset;
}

.header__link {
  padding: 1rem 2rem;
}

.header__link:hover {
  transition: background-color .3s ease-in-out;
  background-color: rgb(255 255 255 / .5);
}

.header__slogan {
  font-size: 5rem;
}

/* ABOUT */
.about {
  margin-top: 10rem;
}