:root {
  /* Fonts */
  --paragraph: normal 1.6rem/2 var(--primary-Font);
  --titleOne: 900 3.6rem/1.5 var(--primary-Font);
  --titleTwo: 900 3rem/1.5 var(--primary-Font);
  --titleThree: 900 2.8rem/1.5 var(--primary-Font);
}

/* HEADER */
.header {
  min-height: 70rem;
}

.header__wrapper {
  height: calc(70rem - 4rem);
}

.header__barra {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  margin-top: unset;
  flex-direction: row;
  gap: 1.6rem;
}

.header__slogan {
  font-size: 4rem;
}

.header__sloganTwo {
  color: var(--white-color);
}

/* ABOUT */
.about__wrapper {
  max-width: 100rem;
  margin-inline: auto;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.about__content {
  grid-column: 2/4;
}

/* MAIN */
.model {
  max-width: 100rem;
  margin-inline: auto;
  grid-template-columns: repeat(3, 1fr);
  background-size: 70rem;
}

.model:nth-child(1) {
  background-position: right top;
}

.model:nth-child(1) .model__copy {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.model:nth-child(2) {
  background-position: left top;
}

.model:nth-child(2) .model__copy {
  grid-column: 2 / 5;
  grid-row: 2 / 3;
}

.model:nth-child(3) {
  background-position: right top;
}

.model:nth-child(3) .model__copy {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

/* GALERY */
.galery__grid {
  max-width: 80rem;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 15rem;
}

.galery__img {
  height: 100%;
}

.galery__img:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.galery__img:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.galery__img:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 3 / 5;
}

.galery__img:nth-child(6) {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}