@font-face {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 300;
  src:
    local("Raleway"),
    url("../fonts/Raleway-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  src:
    local("Raleway"),
    url("../fonts/Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  src:
    local("Raleway"),
    url("../fonts/Raleway-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 900;
  src:
    local("Raleway"),
    url("../fonts/Raleway-Black.ttf") format("truetype");
}

:root {
  /* Fonts */
  --primary-Font: "Raleway", sans-serif;

  --paragraph: normal 1.4rem/2 var(--primary-Font);
  --titleOne: 900 5rem/1.5 var(--primary-Font);
  --titleTwo: 900 4rem/1.5 var(--primary-Font);
  --titleThree: 900 3rem/1.5 var(--primary-Font);

  /* Colors */
  --white-color: #ffffff;
  --black-color: #1f1e1e;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-width: 32rem;
  font: var(--paragraph);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font: var(--titleOne);
}

h2 {
  font: var(--titleTwo);
}

h3 {
  font: var(--titleThree);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

input,
textarea {
  outline: none;
}

/* UTILIDADES */

[class$="__container"] {
  width: min(95%, 144rem);
  margin: 0 auto;
}