:root {
  /* Fonts */
  --paragraph: normal 1.6rem/2 var(--primary-Font);
  --titleOne: 900 3.6rem/1.5 var(--primary-Font);
}

/* HEADER */
.header {
  min-height: 70rem;
}

.header__wrapper {
  height: calc(70rem - 4rem);
}

.header__barra {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  margin-top: unset;
  flex-direction: row;
  gap: 1.6rem;
}

.header__slogan {
  font-size: 4rem;
}

.header__sloganTwo {
  color: var(--white-color);
}