@font-face {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 300;
  src:
    local("Raleway"),
    url("../fonts/Raleway-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  src:
    local("Raleway"),
    url("../fonts/Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  src:
    local("Raleway"),
    url("../fonts/Raleway-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 900;
  src:
    local("Raleway"),
    url("../fonts/Raleway-Black.ttf") format("truetype");
}

:root {
  /* Fonts */
  --primary-Font: "Raleway", sans-serif;

  --paragraph: normal 1.4rem/2 var(--primary-Font);
  --titleOne: 900 3rem/1.5 var(--primary-Font);
  --titleTwo: 900 2.4rem/1.5 var(--primary-Font);
  --titleThree: 900 2rem/1.5 var(--primary-Font);

  /* Colors */
  --white-color: #ffffff;
  --black-color: #111111;
  --gray-color: #343a40;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-width: 32rem;
  font: var(--paragraph);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font: var(--titleOne);
}

h2 {
  font: var(--titleTwo);
}

h3 {
  font: var(--titleThree);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

input,
textarea {
  outline: none;
}

/* UTILIDADES */

[class$="__container"] {
  width: min(95%, 144rem);
  margin: 0 auto;
}

.btn {
  margin-top: 2rem;
  padding: 1rem 2rem;
  display: inline-block;
  color: var(--gray-color);
  background-color: var(--white-color);
  border: 1px solid var(--gray-color);
}

.btn:hover {
  transition: background-color .3s ease-in-out;
  color: var(--white-color);
  background-color: var(--gray-color);
}

/* HEADER */

.header {
  min-height: 60rem;
  padding-block: 2rem;
  background-image: url("../img/img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__wrapper {
  height: calc(60rem - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__barra {
  display: flex;
  flex-direction: column;
}

.header__logo {
  font: var(--titleOne);
  color: var(--white-color);
  font-weight: 300;
}

.header__span {
  font-weight: 900;
}

.header__nav {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .8rem;
}

.header__link {
  font: var(--paragraph);
  color: var(--white-color);
}

.header__slogan-container {
  text-align: right;
}

.header__slogan {
  font-size: 2.8rem;
  font-weight: 900;
  line-height: 1;
  color: var(--white-color);
}

.header__sloganTwo {
  margin-top: 1.6rem;
  color: var(--white-color);
}

/* ABOUT */
.about {
  margin-top: 5rem;
  background-image: url("../img/img/nosotros.jpg");
  background-repeat: no-repeat;
  background-size: 75rem;
  background-position: center bottom;
}

.about__wrapper {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 4rem;
}

.about__content {
  padding: 4rem;
  background-color: var(--white-color);
  box-shadow: 1rem 1rem 3rem 4px rgb(0 0 0 / 24%);
  text-align: center;
}

.about__title {
  margin-bottom: 2rem;
  text-align: center;
}

/* MAIN */
.main {
  margin-top: 5rem;
}

.main__title {
  margin-bottom: 2rem;
  text-align: center;
}

.main__grid {
  display: grid;
  gap: 4rem;
}

.model {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-repeat: no-repeat;
  background-size: 70rem;
  background-position: center bottom;
}

.model:nth-child(1) {
  background-image: url("../img/img/modelo_basico.jpg");
}

.model:nth-child(2) {
  background-image: url("../img/img/modelo_premier.jpg");
}

.model:nth-child(3) {
  background-image: url("../img/img/modelo_elite.jpg");
}

.model__copy {
  padding: 4rem;
  text-align: center;
  box-shadow: 1rem 1rem 3rem 4px rgb(0 0 0 / 24%);
  background-color: var(--white-color);
}

/* GALERY */
.galery {
  margin-top: 5rem;
}

.galery__title {
  margin-bottom: 2rem;
  text-align: center;
}

.galery__grid {
  max-width: 40rem;
  margin-inline: auto;
  display: grid;
  gap: 1rem;
}

.galery__img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  object-position: center;
}